---
const width = "5px";
const height = "5px";
import { Image } from "astro:assets";
import bag from "@images/abc.png";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Affordable web design and development services for nonprofits and community organizations. Specializing in creative, user-friendly website solutions."
    />
    <title>Joe Chelladurai | Web Design and Development</title>
  </head>

  <body>
    <main>
      <section class="my-24 max-w-7xl mx-auto px-4">
        <div class="text-center">
          <h2 class="text-4xl">Affordable Pricing</h2>
        </div>
      </section>

      <section class="max-w-7xl mx-auto px-4">
        <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4 py-8">
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
          <figure>
            <Image
              src={bag}
              alt="a bag"
              class="w-full bg-gray-200"
              width="1310"
              height="873"
            />
          </figure>
        </div>
      </section>
    </main>
  </body>
</html>
